body {
    background: cornsilk;
    font-family: arial, helvetica, sans-serif;
}

#container {
    width: 960px;
    min-height: 500px;
    margin: 5px auto;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: darkolivegreen;
    color: darkolivegreen;
}

nav > ul > li

{
    float: left;
}

nav ul::after {
    content: "";
    display: block;
    clear: both;
    color: cornsilk;
}

nav ul li:hover {
    background: burlywood;
    color: burlywood;
}

nav ul li:hover >ul {
    display: block;
}

nav ul li a {
    display: inline-block;
    color: cornsilk;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
}

nav ul li a:hover {
    background: burlywood;
    color: cornsilk;
    text-decoration: underline;
}

nav ul ul {
    display: none;
    position: absolute;
    background: rgba(205, 133, 63, .8);
    color: cornsilk;
}

nav > ul {
    padding-left: 35px;
}

nav > ul > li {
    float: left;
}

nav >ul > li > a {
    padding: 10px 20px 15px 20px;
    width: auto;
}

.clear-both {
    clear: both;
}

.invisible {
    visibility: hidden;
}